## Code to find intersections of ICESat-2 and ATM data

**by Allison Chartrand**

**June 2019 ICESat-2 Hackweek**

In [72]:
#IMPORT PACKAGES
import os
import glob
import pandas as pd
import csv
import numpy as np
import math
import matplotlib.pyplot as plt
import pyproj
from scipy.spatial import distance

In [73]:
%matplotlib widget

**Import Data**

Get ATL06 data and put into dataframe

In [80]:
ATL06filename = '~/xtrak/data_prod/ZachISatData_wSmoooth.csv'
ATMfilename = '~/xtrak/data_prod/ATMproof_20140429_wSmooth_ac.csv'

OutputFilename = '~/xtrak/data_prod/InterX_ATM2014_AllSmooth.csv'

In [38]:
ATL06data = pd.read_csv(ATL06filename,parse_dates=[4])
ATL06data.head()

,lon,lat,h,track,date,x,y,hSm,hSupSm
0,-22.520585,78.700068,579.33765,gt3r,2019-01-04 12:24:25,469494.782922,-1.134613e+06,NaN,NaN
1,-22.520755,78.700244,579.03015,gt3r,2019-01-04 12:24:25,469484.057930,-1.134597e+06,NaN,NaN
2,-22.520925,78.700420,578.78815,gt3r,2019-01-04 12:24:25,469473.331404,-1.134581e+06,NaN,NaN
3,-22.521094,78.700596,578.57214,gt3r,2019-01-04 12:24:25,469462.614457,-1.134564e+06,NaN,NaN
4,-22.521264,78.700773,578.33830,gt3r,2019-01-04 12:24:25,469451.884907,-1.134548e+06,NaN,NaN

Get target points from ATM csv and put into dataframe

In [81]:
ATMdata = pd.read_csv(ATMfilename)

tpoints = ATMdata[['PS_x','PS_y']].copy()
tpoints = tpoints.values
ATMdata.head()

,Unnamed: 0,ATM_lat,ATM_long,PS_x,PS_y,ATM_elev,dist_along,slope_NS,slope_EW,ATM_elev_Sm,ATM_elev_SupSm
0,0,79.150302,335.663786,415944.317386,-1.102872e+06,883.1842,18036.512689,-0.006359,-0.009239,NaN,NaN
1,1,79.150190,335.665218,415976.200234,-1.102873e+06,883.0373,18068.412960,-0.005456,-0.006168,NaN,NaN
2,2,79.150078,335.666651,416008.102644,-1.102874e+06,882.8962,18100.332515,-0.003837,-0.006896,NaN,NaN
3,3,79.149967,335.668086,416040.005299,-1.102875e+06,882.7560,18132.248675,-0.004822,-0.005571,NaN,NaN
4,4,79.149855,335.669519,416071.908333,-1.102876e+06,882.5889,18164.168794,-0.003373,-0.009250,NaN,NaN

Define nearest neighbor algorithm

In [76]:
def closest_node(node, nodes):
    closest_index = distance.cdist([node], nodes).argmin()
    closest_dist = np.min(distance.cdist([node], nodes,'euclidean'))
    return closest_index, closest_dist

Make an empty dataframe for intersections
Get query points from ATL06 csv and put into dataframe
Loop through unique dates and ground tracks and find the closest point between each ground track and the flowline
Store intersection along-flow distance, z_ATM, z_ATL06 and other helpful data in Intersections dataframe

In [82]:
Intersections = {'dist_along':[],'ATM_elev':[],'idx_ATM':[],'z_ATL06':[],'t_ATL06':[],'idx_ATL06':[],'gt_ATL06':[]}
Intersections = pd.DataFrame(data = Intersections)
i = 0
for day in ATL06data.date.unique():

    for tr in ATL06data.track.unique():
        close_idx = []
        min_dist = []
        AddDatarow = []

        #dfTran is a single radar transect
        dfTran = ATL06data.query('date == @day & track == @tr')
        if dfTran.shape[0] == 0:
            continue
            
        
        qpoints = dfTran[['x','y']].copy()
        qpoints = qpoints.values

        
        for j in range(len(tpoints)):
            close_idxT,min_distT = closest_node(tpoints[j,:], qpoints)
            close_idx = np.append(close_idx,[close_idxT])
            min_dist = np.append(min_dist,[min_distT])
        if min(min_dist) > 1000:
            continue
        
        tpt_idx = np.argmin(min_dist)
        qpt_idx = int(close_idx[tpt_idx])
        dfTran_idx = dfTran.loc[dfTran['date'] == day].index[0]
        qpt_idx = qpt_idx+dfTran_idx
        
        AddDatarow = {'dist_along':[ATMdata.loc[tpt_idx,'dist_along']],
                      'ATM_elev':[ATMdata.loc[tpt_idx,'ATM_elev_SupSm']],
                      'idx_ATM':[tpt_idx],
                      'z_ATL06':[dfTran.loc[qpt_idx,'hSupSm']],
                      't_ATL06':[dfTran.loc[qpt_idx,'date']],
                      'idx_ATL06':[qpt_idx],
                      'gt_ATL06':[dfTran.loc[qpt_idx,'track']]}
        AddDatarow = pd.DataFrame(data = AddDatarow)
        Intersections = Intersections.append(AddDatarow,ignore_index=True)
#         Intersections.reset_index(drop=True)

In [83]:
Intersections.head()

,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06
0,125289.795232,38.49300,3213.0,35.501406,2019-02-15 10:09:55,1576.0,gt1l
1,125354.749926,38.22330,3215.0,34.084645,2019-02-15 10:09:55,4931.0,gt1r
2,96208.910678,90.80875,2367.0,69.272560,2019-01-16 01:09:49,39474.0,gt3r
3,102696.987249,27.22505,2566.0,28.789461,2019-01-16 01:09:49,19999.0,gt1l
4,102632.054028,27.14045,2564.0,29.224519,2019-01-16 01:09:49,23921.0,gt1r

Plot

In [84]:
f, ax = plt.subplots()
plt.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],c=Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'], c = Time,s=1)
plt.plot(Intersections['dist_along']/1000,Intersections['ATM_elev'],'.')
# cb = f.colorbar()
plt.colorbar()

# cb.ax.set_yticklabels(df.index.strftime('%b %Y'))

FigureCanvasNbAgg()

In [97]:
plt.close('all')

Sort the data by date and track

In [85]:
IntersectionsSort = Intersections.sort_values(by=['t_ATL06', 'gt_ATL06'])
IntersectionsSort.reset_index()

,index,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06
0,161,122581.170689,45.04805,3130.0,42.769034,2018-10-18 15:53:52,617767.0,gt1l
1,162,122647.058967,44.76880,3132.0,42.156155,2018-10-18 15:53:52,621074.0,gt1r
2,163,125810.129706,36.67925,3229.0,34.448452,2018-10-18 15:53:52,624012.0,gt2l
3,164,125875.304455,36.28405,3231.0,32.827094,2018-10-18 15:53:52,626687.0,gt2r
4,52,80573.944294,295.06470,1901.0,NaN,2018-10-21 05:21:45,205271.0,gt2r
5,51,77393.293766,269.78040,1803.0,255.108995,2018-10-21 05:21:45,205803.0,gt3r
6,103,67655.902876,416.97825,1538.0,361.948000,2018-10-25 05:13:27,398282.0,gt1l
7,104,67687.240097,415.62490,1539.0,391.111190,2018-10-25 05:13:27,400497.0,gt1r
8,105,64607.360881,425.31270,1439.0,NaN,2018-10-25 05:13:27,401953.0,gt2l
9,106,64484.432996,425.31270,1435.0,410.575870,2018-10-25 05:13:27,403762.0,gt2r
10,107,61379.685494,521.00925,1337.0,509.489320,2018-10-25 05:13:27,405087.0,gt3l
11,102,61315.684441,521.22515,1335.0,509.782975,2018-10-25 05:13:27,406842.0,gt3r
12,115,89377.265064,136.73470,2164.0,108.349335,2018-10-26 15:37:16,431219.0,gt1l
13,116,89479.464606,136.41060,2167.0,107.119035,2018-10-26 15:37:16,435063.0,gt1r
14,117,92780.627483,121.14320,2264.0,96.175800,2018-10-26 15:37:16,438910.0,gt2l
15,118,92848.522698,120.88755,2266.0,97.067132,2018-10-26 15:37:16,442774.0,gt2r
16,119,96176.153026,91.11945,2366.0,28.308387,2018-10-26 15:37:16,446614.0,gt3l
17,114,96241.609114,90.38570,2368.0,28.727420,2018-10-26 15:37:16,450516.0,gt3r
18,172,121954.028971,45.61400,3111.0,44.933040,2018-11-11 04:14:44,651541.0,gt1l
19,173,121854.851720,45.61400,3108.0,44.027002,2018-11-11 04:14:44,654324.0,gt1r
20,174,118653.494370,41.70600,3034.0,38.935440,2018-11-11 04:14:44,657927.0,gt2l
21,175,118588.415511,41.09350,3032.0,40.171133,2018-11-11 04:14:44,661532.0,gt2r
22,176,115361.066547,27.20825,2934.0,28.129115,2018-11-11 04:14:44,665513.0,gt3l
23,171,115295.191381,27.20825,2932.0,28.052530,2018-11-11 04:14:44,669478.0,gt3r
24,84,105596.029174,27.06520,2637.0,28.661966,2018-11-15 04:06:22,330937.0,gt1l
25,85,105001.339697,27.06980,2636.0,29.297360,2018-11-15 04:06:22,334883.0,gt1r
26,86,102145.248209,27.05085,2549.0,28.851150,2018-11-15 04:06:22,338759.0,gt2l
27,87,102080.404536,27.04725,2547.0,29.350223,2018-11-15 04:06:22,342697.0,gt2r
28,88,98960.114430,28.28555,2451.0,68.897153,2018-11-15 04:06:22,346606.0,gt3l
29,83,98894.603155,31.01350,2449.0,67.444460,2018-11-15 04:06:22,350504.0,gt3r
...,...,...,...,...,...,...,...,...
159,168,121425.520431,45.61400,3095.0,45.429640,2019-02-09 23:54:28,638427.0,gt2l
160,169,121359.531822,45.61400,3093.0,45.324902,2019-02-09 23:54:28,641333.0,gt2r
161,170,118164.360812,40.06585,3019.0,40.598112,2019-02-09 23:54:28,645057.0,gt3l
162,165,118098.943857,39.76175,3017.0,39.578097,2019-02-09 23:54:28,648792.0,gt3r
163,109,108153.357245,27.06205,2715.0,28.418760,2019-02-13 23:46:06,409992.0,gt1l
164,110,108088.013034,27.05840,2713.0,28.504448,2019-02-13 23:46:06,413583.0,gt1r
165,111,104835.607040,27.07685,2631.0,27.828007,2019-02-13 23:46:06,417329.0,gt2l
166,112,104769.182503,27.07685,2629.0,27.948965,2019-02-13 23:46:06,421050.0,gt2r
167,113,101658.707466,27.03075,2534.0,30.119713,2019-02-13 23:46:06,424890.0,gt3l
168,108,101593.796438,27.02715,2532.0,31.139245,2019-02-13 23:46:06,428679.0,gt3r
169,0,125289.795232,38.49300,3213.0,35.501406,2019-02-15 10:09:55,1576.0,gt1l
170,1,125354.749926,38.22330,3215.0,34.084645,2019-02-15 10:09:55,4931.0,gt1r
171,37,91929.771598,124.99810,2239.0,95.879260,2019-02-17 23:37:46,146166.0,gt1l
172,38,91861.692774,125.58635,2237.0,96.905113,2019-02-17 23:37:46,150060.0,gt1r
173,39,88729.738750,138.20130,2145.0,111.239910,2019-02-17 23:37:46,153999.0,gt2l
174,40,88661.510375,138.20130,2143.0,112.087285,2019-02-17 23:37:46,157948.0,gt2r
175,41,85556.001064,130.02795,2052.0,100.608815,2019-02-17 23:37:46,161878.0,gt3l
176,36,85454.321057,130.08550,2049.0,98.365062,2019-02-17 23:37:46,165795.0,gt3r
177,150,109036.355948,27.06775,2742.0,28.824031,2019-02-19 10:01:34,570845.0,gt1l
178,151,109134.723785,27.06980,2745.0,28.788947,2019-02-19 10:01:34,574757.0,gt1r
179,152,112275.636373,27.09870,2840.0,28.207432,2019-02-19 10:01:34,578726.0,gt2l
180,153,112341.684666,27.09930,2842.0,28.204486,2019-02-19 10:01:34,582689.0,gt2r
181,154,115492.850024,27.21200,2938.0,28.316190,2019-02-19 10:01:34,586663.0,gt3l
182,149,115591.706990,27.21215,2941.0,28.303164,2019-02-19 10:01:34,590579.0,gt3r
183,178,92270.364511,124.08030,2249.0,93.113032,2019-02-23 09:53:16,671953.0,gt1l
184,179,92338.479124,123.68205,2251.0,86.354335,2019-02-23 09:53:16,675852.0,gt1r
185,180,95651.996664,94.41245,2350.0,82.014457,2019-02-23 09:53:16,679715.0,gt2l
186,181,95717.578915,94.06105,2352.0,80.106848,2019-02-23 09:53:16,683572.0,gt2r
187,182,98960.114430,28.28555,2451.0,32.379897,2019-02-23 09:53:16,687446.0,gt3l
188,177,99025.590148,27.16090,2453.0,34.729114,2019-02-23 09:53:16,691356.0,gt3r

Compute slope between adjacent intersections of beam pairs

In [86]:
InterX = IntersectionsSort.values
InterX = InterX

Dist = np.diff(IntersectionsSort['dist_along'].values)
Dist[Dist == 0] = float('NaN')
InterXslopeATL06 = np.diff(IntersectionsSort['z_ATL06'].values)/Dist
InterXslopeATM = np.diff(IntersectionsSort['ATM_elev'].values)/Dist

# i = 0
# for i in Dist():
InterXslopeATL06[np.abs(Dist) > 150] = float('NaN')
InterXslopeATL06 = np.append(InterXslopeATL06,[0])

InterXslopeATM[np.abs(Dist) > 150] = float('NaN')
InterXslopeATM = np.append(InterXslopeATM,[float('NaN')])

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in greater
  # This is added back by InteractiveShellApp.init_path()
/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:14: RuntimeWarning: invalid value encountered in greater

In [87]:
IntersectionsSort['dist_along'].values

array([122581.17068851, 122647.058967  , 125810.12970578, 125875.30445519,
        80573.94429394,  77393.2937659 ,  67655.90287629,  67687.24009683,
        64607.36088144,  64484.43299646,  61379.68549351,  61315.68444139,
        89377.26506363,  89479.46460643,  92780.62748277,  92848.52269775,
        96176.15302596,  96241.6091144 , 121954.02897127, 121854.85171978,
       118653.4943702 , 118588.41551142, 115361.06654741, 115295.19138123,
       105596.02917436, 105001.33969727, 102145.2482091 , 102080.40453568,
        98960.11443049,  98894.60315521, 127917.08666673, 127917.08666673,
        89241.05814438,  89172.93531811,  86031.58538731,  85963.53630899,
        82864.46615351,  82798.52326247, 111746.23718542, 111812.54554675,
       114966.47851405, 115032.17091117, 118164.36081161, 118262.38014119,
        73136.80798326,  73070.49437217,  69782.28637025,  69782.28637025,
        66747.76440998,  66654.49722872,  95027.94786504,  95126.69047093,
        98401.58285999,  98467.48496915, 101756.03963429, 101820.94690383,
        56887.35883001,  77789.16581823,  77854.99932367,  81275.30590324,
        81371.24257593,  84845.20239431,  84912.84595462,  66345.52456471,
       127486.93809309, 127420.79896681, 124218.38469648, 124153.30184889,
       120931.50264699, 120833.06312449, 110916.63405716, 110817.08451428,
       107630.52994006, 107565.17105679, 104337.46869381, 104271.12913349,
        94598.50385927,  94532.098478  ,  91419.45740779,  91351.44257503,
        88218.13185529,  88149.91935329, 117145.36688242, 117211.45768173,
       120734.65546811, 120734.65546811, 123566.08462848, 123664.20130541,
        78542.75837285,  78477.56091282,  75329.36382753,  75262.54211613,
        72106.37152771,  72006.79300959, 100653.13212202, 100718.02073524,
       104105.45509818, 104171.68169085, 107368.96793027, 107434.35232355,
        62440.10778829,  62375.79312765,  59263.9902956 ,  59166.87555458,
        83731.35049768,  83798.64042531,  87124.39858548,  87192.89529248,
        90500.89031737,  90568.87727088,  62600.70517446,  62664.81194595,
        66161.51528798,  66253.41268373,  69782.28637025,  69782.28637025,
       119238.20173757, 119108.39302751, 115954.83147881, 112638.37188558,
       112506.5738387 , 102696.9872489 , 102632.05402848,  99515.58578885,
        99450.33337481,  96307.01017982,  96208.91067835, 119821.9198431 ,
       119919.32658794, 123041.63600503, 123107.36914084, 126300.08907372,
       126365.60836509,  86611.37813037,  86508.89529508,  83396.01070231,
        83329.21995641,  80222.55545228,  80126.45824808,  70490.59491212,
        70425.53527635,  67279.2925908 ,  67216.56422036,  64083.16574864,
        64021.15144708,  86543.03637625,  86645.5283075 ,  89922.26734437,
        89990.39154484,  93289.10054921,  93356.8377184 ,  68777.51710699,
        68777.51710699,  72106.37152771,  72172.78972239,  75897.32347739,
        75997.504104  , 124705.58492095, 124640.68358572, 121425.52043149,
       121359.53182225, 118164.36081161, 118098.94385679, 108153.35724538,
       108088.01303411, 104835.60704015, 104769.18250342, 101658.70746597,
       101593.79643814, 125289.79523215, 125354.74992622,  91929.7715985 ,
        91861.69277383,  88729.7387504 ,  88661.51037499,  85556.00106398,
        85454.32105671, 109036.35594819, 109134.72378506, 112275.63637323,
       112341.68466611, 115492.85002432, 115591.70698964,  92270.3645112 ,
        92338.47912381,  95651.99666426,  95717.57891499,  98960.11443049,
        99025.59014835])

Add 90m slope arrays back into IntersectionsSort and save to csv

In [70]:
IntersectionsSort = IntersectionsSort.assign(slope_ATM= InterXslopeATM)
IntersectionsSort = IntersectionsSort.assign(slope_ATL06 = InterXslopeATL06)
IntersectionsSort.head()

,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06,slope_ATM,slope_ATL06
160,122622.959615,44.03935,3314.0,42.769034,2018-10-18 15:53:52,617767.0,gt1l,-0.002130,-0.012068
161,122685.347575,43.90645,3316.0,42.016131,2018-10-18 15:53:52,621070.0,gt1r,NaN,NaN
162,125829.732109,35.31125,3416.0,34.973022,2018-10-18 15:53:52,624014.0,gt2l,-0.003442,-0.031405
163,125892.855741,35.09395,3418.0,32.990604,2018-10-18 15:53:52,626689.0,gt2r,NaN,NaN
51,80616.609191,275.81145,2136.0,NaN,2018-10-21 05:21:45,205271.0,gt2r,NaN,NaN

Save to file

In [88]:

IntersectionsSort.to_csv(OutputFilename,index=False)