## Code to find intersections of ICESat-2 and ATM data

**by Allison Chartrand**

**June 2019 ICESat-2 Hackweek**

In [2]:
#IMPORT PACKAGES
import os
import glob
import pandas as pd
import csv
import numpy as np
import math
import matplotlib.pyplot as plt
import pyproj
from scipy.spatial import distance

Code to extract single tracks of IceSat-2 data

In [3]:
ATL06data = pd.read_csv('../data_prod/IceSat2ZachData',parse_dates=[4])

In [4]:
ATL06data['track'].unique()

array(['gt3r', 'gt1l', 'gt1r', 'gt2l', 'gt2r', 'gt3l'], dtype=object)

In [5]:
ATL06data.date.unique()

array(['2019-01-04T12:24:25.000000000', '2019-02-15T10:09:55.000000000',
       '2018-10-29T05:05:08.000000000', '2019-01-16T01:09:49.000000000',
       '2018-11-23T03:49:31.000000000', '2018-12-10T02:50:30.000000000',
       '2018-12-19T12:57:40.000000000', '2019-01-08T01:26:37.000000000',
       '2018-11-20T14:21:44.000000000', '2018-12-26T02:17:13.000000000',
       '2019-02-17T23:37:46.000000000', '2018-11-16T14:30:09.000000000',
       '2018-11-27T03:41:06.000000000', '2018-12-27T12:41:01.000000000',
       '2018-10-21T05:21:45.000000000', '2018-12-23T12:49:22.000000000',
       '2018-10-22T15:45:34.000000000', '2018-12-14T02:42:09.000000000',
       '2018-12-15T13:05:59.000000000', '2019-01-20T01:01:33.000000000',
       '2018-12-18T02:33:52.000000000', '2019-01-13T11:42:01.000000000',
       '2019-01-29T11:08:55.000000000', '2018-11-15T04:06:22.000000000',
       '2018-11-19T03:57:57.000000000', '2018-12-02T13:56:37.000000000',
       '2018-10-17T05:30:05.000000000', '2019-01-17T11:33:37.000000000',
       '2018-10-25T05:13:27.000000000', '2018-10-30T15:28:58.000000000',
       '2019-01-21T11:25:25.000000000', '2019-02-13T23:46:06.000000000',
       '2018-10-26T15:37:16.000000000', '2019-01-28T00:45:05.000000000',
       '2019-01-12T01:18:14.000000000', '2018-12-30T02:08:55.000000000',
       '2019-01-25T11:17:11.000000000', '2018-12-31T12:32:45.000000000',
       '2018-12-22T02:25:33.000000000', '2018-11-28T14:04:55.000000000',
       '2019-02-02T11:00:37.000000000', '2019-02-19T10:01:34.000000000',
       '2018-11-24T14:13:17.000000000', '2018-10-18T15:53:52.000000000',
       '2019-02-09T23:54:28.000000000', '2018-11-11T04:14:44.000000000',
       '2019-02-23T09:53:16.000000000', '2019-01-24T00:53:21.000000000'],
      dtype='datetime64[ns]')

Define nearest neighbor algorithm

In [6]:
def closest_node(node, nodes):
    closest_index = distance.cdist([node], nodes).argmin()
    closest_dist = np.min(distance.cdist([node], nodes,'euclidean'))
    return closest_index, closest_dist

Get target points from ATM csv and put into dataframe

In [7]:
ATMdata = pd.read_csv('~/xtrak/data_prod/ATMprof_20140429.csv')

tpoints = ATMdata[['PS_x','PS_y']].copy()
tpoints = tpoints.values
ATMdata.head()

,ATM_lat,ATM_long,PS_x,PS_y,ATM_elev,dist_along,slope_NS,slope_EW,geometry
0,79.150302,335.663786,415944.317386,-1.102872e+06,883.1842,18036.512689,-0.006359,-0.009239,POINT (415944.317385893 -1102872.34885821)
1,79.150190,335.665218,415976.200234,-1.102873e+06,883.0373,18068.412960,-0.005456,-0.006168,POINT (415976.2002337262 -1102873.403059846)
2,79.150078,335.666651,416008.102644,-1.102874e+06,882.8962,18100.332515,-0.003837,-0.006896,POINT (416008.1026436334 -1102874.449098021)
3,79.149967,335.668086,416040.005299,-1.102875e+06,882.7560,18132.248675,-0.004822,-0.005571,POINT (416040.0052989411 -1102875.377476926)
4,79.149855,335.669519,416071.908333,-1.102876e+06,882.5889,18164.168794,-0.003373,-0.009250,POINT (416071.9083328905 -1102876.421707155)

Make an empty dataframe for intersections
Get query points from ATL06 csv and put into dataframe
Loop through unique dates and ground tracks and find the closest point between each ground track and the flowline
Store intersection along-flow distance, z_ATM, z_ATL06 and other helpful data in Intersections dataframe

In [8]:
Intersections = {'dist_along':[],'ATM_elev':[],'idx_ATM':[],'z_ATL06':[],'t_ATL06':[],'idx_ATL06':[],'gt_ATL06':[]}
Intersections = pd.DataFrame(data = Intersections)
i = 0
for day in ATL06data.date.unique():

    for tr in ATL06data.track.unique():
        close_idx = []
        min_dist = []
        AddDatarow = []

        #dfTran is a single radar transect
        dfTran = ATL06data.query('date == @day & track == @tr')
        if dfTran.shape[0] == 0:
            continue
            
        
        qpoints = dfTran[['x','y']].copy()
        qpoints = qpoints.values

        
        for j in range(len(tpoints)):
            close_idxT,min_distT = closest_node(tpoints[j,:], qpoints)
            close_idx = np.append(close_idx,[close_idxT])
            min_dist = np.append(min_dist,[min_distT])
        if min(min_dist) > 1000:
            continue
        
        tpt_idx = np.argmin(min_dist)
        qpt_idx = int(close_idx[tpt_idx])
        dfTran_idx = dfTran.loc[dfTran['date'] == day].index[0]
        qpt_idx = qpt_idx+dfTran_idx
        
        AddDatarow = {'dist_along':[ATMdata.loc[tpt_idx,'dist_along']],
                      'ATM_elev':[ATMdata.loc[tpt_idx,'ATM_elev']],
                      'idx_ATM':[tpt_idx],
                      'z_ATL06':[dfTran.loc[qpt_idx,'h']],
                      't_ATL06':[dfTran.loc[qpt_idx,'date']],
                      'idx_ATL06':[qpt_idx],
                      'gt_ATL06':[dfTran.loc[qpt_idx,'track']]}
        AddDatarow = pd.DataFrame(data = AddDatarow)
        Intersections = Intersections.append(AddDatarow,ignore_index=True)
#         Intersections.reset_index(drop=True)

In [9]:
Intersections.head()

,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06
0,125289.795232,36.8164,3213.0,35.544117,2019-02-15 10:09:55,1576.0,gt1l
1,125354.749926,36.0535,3215.0,33.669106,2019-02-15 10:09:55,4931.0,gt1r
2,96208.910678,72.8016,2367.0,66.120445,2019-01-16 01:09:49,39474.0,gt3r
3,102696.987249,27.0040,2566.0,36.660946,2019-01-16 01:09:49,19999.0,gt1l
4,102632.054028,26.9541,2564.0,38.917492,2019-01-16 01:09:49,23921.0,gt1r

In [10]:
%matplotlib widget

In [11]:

f, ax = plt.subplots()
plt.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],c=Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'], c = Time,s=1)
plt.plot(Intersections['dist_along']/1000,Intersections['ATM_elev'],'.')
# cb = f.colorbar()
plt.colorbar()

# cb.ax.set_yticklabels(df.index.strftime('%b %Y'))

FigureCanvasNbAgg()

In [97]:
plt.close('all')

Save to file

In [133]:

Intersections.to_csv('~/xtrak/data_prod/Intersections_ATM20140429.csv',index=False)

In [12]:
IntersectionsSort = Intersections.sort_values(by=['t_ATL06', 'gt_ATL06'])
IntersectionsSort.reset_index()

,index,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06
0,161,122581.170689,46.7459,3130.0,43.139470,2018-10-18 15:53:52,617767.0,gt1l
1,162,122647.058967,45.3720,3132.0,42.923240,2018-10-18 15:53:52,621074.0,gt1r
2,163,125810.129706,38.9860,3229.0,34.940983,2018-10-18 15:53:52,624012.0,gt2l
3,164,125875.304455,39.4977,3231.0,31.259686,2018-10-18 15:53:52,626687.0,gt2r
4,52,80573.944294,294.6359,1901.0,262.579130,2018-10-21 05:21:45,205271.0,gt2r
5,51,77393.293766,270.2520,1803.0,247.187770,2018-10-21 05:21:45,205803.0,gt3r
6,103,67655.902876,416.3710,1538.0,358.969240,2018-10-25 05:13:27,398282.0,gt1l
7,104,67687.240097,414.8788,1539.0,392.524100,2018-10-25 05:13:27,400497.0,gt1r
8,105,64607.360881,416.7760,1439.0,2154.631000,2018-10-25 05:13:27,401953.0,gt2l
9,106,64484.432996,423.2080,1435.0,410.355440,2018-10-25 05:13:27,403762.0,gt2r
10,107,61379.685494,520.7124,1337.0,509.038700,2018-10-25 05:13:27,405087.0,gt3l
11,102,61315.684441,520.9965,1335.0,510.069030,2018-10-25 05:13:27,406842.0,gt3r
12,115,89377.265064,136.3838,2164.0,106.806330,2018-10-26 15:37:16,431219.0,gt1l
13,116,89479.464606,137.4264,2167.0,107.070510,2018-10-26 15:37:16,435063.0,gt1r
14,117,92780.627483,111.8659,2264.0,96.143650,2018-10-26 15:37:16,438910.0,gt2l
15,118,92848.522698,112.7574,2266.0,96.468080,2018-10-26 15:37:16,442774.0,gt2r
16,119,96176.153026,76.6337,2366.0,28.022650,2018-10-26 15:37:16,446614.0,gt3l
17,114,96241.609114,69.0849,2368.0,28.860855,2018-10-26 15:37:16,450516.0,gt3r
18,172,121954.028971,46.1258,3111.0,44.401500,2018-11-11 04:14:44,651541.0,gt1l
19,173,121854.851720,46.0785,3108.0,45.410145,2018-11-11 04:14:44,654324.0,gt1r
20,174,118653.494370,40.8969,3034.0,36.419860,2018-11-11 04:14:44,657927.0,gt2l
21,175,118588.415511,42.8026,3032.0,40.090790,2018-11-11 04:14:44,661532.0,gt2r
22,176,115361.066547,27.1678,2934.0,35.327938,2018-11-11 04:14:44,665513.0,gt3l
23,171,115295.191381,27.1719,2932.0,28.103409,2018-11-11 04:14:44,669478.0,gt3r
24,84,105596.029174,27.8603,2637.0,28.676136,2018-11-15 04:06:22,330937.0,gt1l
25,85,105001.339697,26.9486,2636.0,30.016867,2018-11-15 04:06:22,334883.0,gt1r
26,86,102145.248209,65.2312,2549.0,29.730953,2018-11-15 04:06:22,338759.0,gt2l
27,87,102080.404536,71.9059,2547.0,28.479168,2018-11-15 04:06:22,342697.0,gt2r
28,88,98960.114430,27.5389,2451.0,85.605130,2018-11-15 04:06:22,346606.0,gt3l
29,83,98894.603155,61.6138,2449.0,86.384480,2018-11-15 04:06:22,350504.0,gt3r
...,...,...,...,...,...,...,...,...
159,168,121425.520431,45.5479,3095.0,46.470333,2019-02-09 23:54:28,638427.0,gt2l
160,169,121359.531822,45.0145,3093.0,44.875840,2019-02-09 23:54:28,641333.0,gt2r
161,170,118164.360812,43.2367,3019.0,40.508045,2019-02-09 23:54:28,645057.0,gt3l
162,165,118098.943857,42.4927,3017.0,40.069610,2019-02-09 23:54:28,648792.0,gt3r
163,109,108153.357245,27.0787,2715.0,41.566574,2019-02-13 23:46:06,409992.0,gt1l
164,110,108088.013034,27.0586,2713.0,27.844753,2019-02-13 23:46:06,413583.0,gt1r
165,111,104835.607040,26.9487,2631.0,27.723475,2019-02-13 23:46:06,417329.0,gt2l
166,112,104769.182503,27.0415,2629.0,27.527355,2019-02-13 23:46:06,421050.0,gt2r
167,113,101658.707466,84.9071,2534.0,29.075804,2019-02-13 23:46:06,424890.0,gt3l
168,108,101593.796438,78.3717,2532.0,29.818360,2019-02-13 23:46:06,428679.0,gt3r
169,0,125289.795232,36.8164,3213.0,35.544117,2019-02-15 10:09:55,1576.0,gt1l
170,1,125354.749926,36.0535,3215.0,33.669106,2019-02-15 10:09:55,4931.0,gt1r
171,37,91929.771598,130.4038,2239.0,103.292800,2019-02-17 23:37:46,146166.0,gt1l
172,38,91861.692774,129.6586,2237.0,105.858690,2019-02-17 23:37:46,150060.0,gt1r
173,39,88729.738750,141.2648,2145.0,110.371124,2019-02-17 23:37:46,153999.0,gt2l
174,40,88661.510375,144.1588,2143.0,111.250150,2019-02-17 23:37:46,157948.0,gt2r
175,41,85556.001064,118.1004,2052.0,101.947860,2019-02-17 23:37:46,161878.0,gt3l
176,36,85454.321057,115.1481,2049.0,103.995186,2019-02-17 23:37:46,165795.0,gt3r
177,150,109036.355948,27.1519,2742.0,28.619457,2019-02-19 10:01:34,570845.0,gt1l
178,151,109134.723785,27.0653,2745.0,30.407562,2019-02-19 10:01:34,574757.0,gt1r
179,152,112275.636373,27.0694,2840.0,28.144627,2019-02-19 10:01:34,578726.0,gt2l
180,153,112341.684666,27.0520,2842.0,28.170530,2019-02-19 10:01:34,582689.0,gt2r
181,154,115492.850024,27.0823,2938.0,28.287823,2019-02-19 10:01:34,586663.0,gt3l
182,149,115591.706990,27.3633,2941.0,28.306505,2019-02-19 10:01:34,590579.0,gt3r
183,178,92270.364511,125.6959,2249.0,93.387210,2019-02-23 09:53:16,671953.0,gt1l
184,179,92338.479124,124.0296,2251.0,88.683600,2019-02-23 09:53:16,675852.0,gt1r
185,180,95651.996664,94.9117,2350.0,85.120340,2019-02-23 09:53:16,679715.0,gt2l
186,181,95717.578915,95.6941,2352.0,79.918420,2019-02-23 09:53:16,683572.0,gt2r
187,182,98960.114430,27.5389,2451.0,41.690960,2019-02-23 09:53:16,687446.0,gt3l
188,177,99025.590148,26.9317,2453.0,27.947126,2019-02-23 09:53:16,691356.0,gt3r

In [16]:
InterX = IntersectionsSort.values
InterX = InterX

Dist = np.diff(InterX[:,0])
Dist[Dist == 0] = float('NaN')
InterXslopeATL06 = np.diff(InterX[:,3])/Dist
InterXslopeATM = np.diff(InterX[:,1])/Dist

# i = 0
# for i in Dist():
InterXslopeATL06[np.abs(Dist) > 100] = float('NaN')
InterXslopeATL06 = np.append(InterXslopeATL06,[0])

InterXslopeATM[np.abs(Dist) > 100] = float('NaN')
InterXslopeATM = np.append(InterXslopeATM,[float('NaN')])

print(Dist[0:10])
print(InterX.shape)
print(InterXslopeATM.shape)
print(InterXslopeATM[0:10])

[65.88827849196969 3163.0707387852744 65.17474940473039 -45301.36016124592
 -3180.6505280416604 -9737.390889608083 31.337220537185203
 -3079.87921539363 -122.92788497605216 -3104.74750294572]
(189, 7)
(189,)
[-0.020851963830978627 nan 0.007851200114669953 nan nan nan
 -0.04761749684306884 nan nan nan]

In [18]:
IntersectionsSort = IntersectionsSort.assign(slope_ATM= InterXslopeATM)

In [20]:
IntersectionsSort = IntersectionsSort.assign(slope_ATL06 = InterXslopeATL06)
IntersectionsSort.head()

,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06,slope_ATM,slope_ATL06
161,122581.170689,46.7459,3130.0,43.139470,2018-10-18 15:53:52,617767.0,gt1l,-0.020852,-0.00328177
162,122647.058967,45.3720,3132.0,42.923240,2018-10-18 15:53:52,621074.0,gt1r,NaN,NaN
163,125810.129706,38.9860,3229.0,34.940983,2018-10-18 15:53:52,624012.0,gt2l,0.0078512,-0.0564835
164,125875.304455,39.4977,3231.0,31.259686,2018-10-18 15:53:52,626687.0,gt2r,NaN,NaN
52,80573.944294,294.6359,1901.0,262.579130,2018-10-21 05:21:45,205271.0,gt2r,NaN,NaN

In [21]:

IntersectionsSort.to_csv('~/xtrak/data_prod/Intersections_ATM20140429_wSlope.csv',index=False)